extend layout
block content
    table(id="content_table", width="500")
        thead
            tr
                th Photo
                th Name
                th Breed
        tbody
            //- console.log(data)
            - each item in data
                tr
                    td

                        a(href="/get/#{item.name}")
                            img(src= "http://www.nebarisoftware.com/puppies/#{item.img_url}.jpg", width="150px")
                    td= item.name
                    td= item.breed


