doctype
html
  head
    title #{title} - Nebari Puppy Site
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Nebari Puppy Site
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p