/*
 * Import nib
 */
@import 'nib'

/*
 * Nib provides a CSS reset
 */
global-reset()

main-color = rgba(87, 175, 70, 0.8)
background-color = #faf9f0

body
  font-family 'Georgia'
  background-color background-color
  color #444

header
  padding 50px 10px
  color #fff
  font-size 25px
  text-align center
  background-color main-color
  border-bottom 1px solid darken(main-color, 30%)
  text-shadow 0px -1px 0px darken(main-color, 30%)

#content_table th
  height: 25px
  border-bottom: 1px solid main-color;
  font-weight: bold

#content_table td
  height: 25px
  border-bottom: 1px solid main-color;

.container
  width 500px
  margin 50px auto
  overflow hidden

.main-content
  float left

  p
    margin-bottom 20px


p
  line-height 1.8

footer
  border-top 1px dotted #ccc
  padding-top 5px
  font-size 13px